# NNG sub socket handles lotusd events, e.g. mempooltxadd, blkconnected, etc.
NNG_SUB_SOCKET_PATH="/home/user/.lotus/pub.pipe"
# NNG req socket sends RPC requests to lotusd
NNG_REQ_SOCKET_PATH="/home/user/.lotus/rpc.pipe"